<!-- -*- engine: swig -*- -->
<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8"/>
    <title>{% block head_title %} {{= site.siteName =}} {% endblock %}</title>

    <meta name="description" content="Camilo Quimbayo Test">
    <meta name="author" content="Camilo Quimbayo">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/main.min.css" type="text/css">

    {% block head%}
    {% endblock %}
  </head>

  <body ng-app="appInventory" class="">

    <div class="container ng-cloak" ng-controller="InventoryController as inventory">
      <header class="bar bar-header">
        <h1 class="title title-left">
          <a href="/">
            {{= site.siteName =}}
          </a>
        </h1>

      </header>

      <p>See the API REST Nodejs with Concurrency</p>

      <a class="button button-primary" href="/api/inventorys">Inventorys</a>
      <a class="button button-primary" href="/api/types">Types</a>
      <br \>
      <hr \>
      <h1>Simple Request</h1>
      <div class="row">
        <div class="six columns">Inventorys
          <ul>
            <li ng-repeat="value in inventory.values track by $index">
              <span ng-bind="value"></span>
            </li>
          </ul>
        </div>
        <div class="six columns">Types
          <ul>
            <li ng-repeat="type in inventory.values track by $index">
              <span ng-bind="type"></span>
            </li>
          </ul>
        </div>
      </div>

      {% block body %}
        <div class="pt-m" ng-view>
          <!-- View Angular -->
        </div>
      {% endblock %}

    </div> <!-- /container -->

    <!-- Better performance script's here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/app/inventory.js"></script>

  </body>
</html>
